<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= org.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">
    <script src="../js/companyAll.js"></script>
    <!-- Animate.css -->
    <link rel="stylesheet" href="../public/css/animate.css">
    <!-- Icomoon Icon Fonts
<link rel="stylesheet" href="css/icomoon.css">-->
    <!-- Simple Line Icons 
<link rel="stylesheet" href="css/simple-line-icons.css">-->
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <!-- Style -->
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../js/scripts.js"></script>

    <!-- Modernizr JS -->
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <!------------------------------------------------------------>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <!------------------------------------------------------------>

</head>

<body>

    <!-- Шапка -->
    <% include blocks/header.ejs %>
    <!-----заголовок страницы-->
    <section id="fh5co-hobby" data-section="hobby">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center" id="nameOrgVolna">
                    <!---Заголовок-->
                    <ul>
                        <li><%= org._id %></li>
                        <li><%= org.name %></li>
                        <li><%= org.description %></li>
                        <li><%= org.img %></li>
                        <li><%= org.phone %></li>
                        <ul>
                            <% org.metro.forEach(function(item) { %>
                            <li><%= item %></li>
                            <% }); %>
                        </ul>
                        <ul>
                            <% org.age.forEach(function(item) { %>
                            <li><%= item %></li>
                            <% }); %>
                        </ul>
                        <li><%= org.url %></li>
                        <li><%= org.price %></li>
                        <ul>
                            <% org.key.forEach(function(item) { %>
                            <li><%= item %></li>
                            <% }); %>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>







    </section>

    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="../js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="../js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="../js/jquery.stellar.min.js"></script>
    <!-- Counters -->
    <script src="../js/jquery.countTo.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="../js/main.js"></script>

</body>

</html>